# Credentials
.credentials.yaml

.coverage

# Compiled / optimized files
__pycache__/
*.py[cod]
*$py.class


# IDE
.idea

# Flask
instance/
.webassets-cache

# snippets
Flask-App/snippets/

*.egg-info


# Sphinx documentation
doc/build/
